.navbar {
  height: 700px;
  width: 300px;
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.navbarMain {
  flex: 1;
}

.header {
  padding-bottom: var(--mantine-spacing-md);
  margin-bottom: calc(var(--mantine-spacing-md) * 1.5);
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.footer {
  padding-top: var(--mantine-spacing-md);
  margin-top: var(--mantine-spacing-md);
  border-top: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.link {
  display: flex !important;
  align-items: center !important;
  text-decoration: none !important;
  font-size: var(--mantine-font-size-sm) !important;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1)) !important;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm) !important;
  border-radius: var(--mantine-radius-sm) !important;
  font-weight: 500 !important;
  
  /* Hover effect */
  &:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6)) !important;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white)) !important;
  }

  /* Active state */
  &[data-active] {
    background-color: var(--mantine-primary-color-light) !important;
    color: var(--mantine-primary-color-light-color) !important;

    .linkIcon {
      color: var(--mantine-primary-color-light-color) !important;
    }
  }

  &:focus-visible {
    outline: calc(0.125rem * var(--mantine-scale)) solid var(--mantine-primary-color-filled) !important;
    outline-offset: calc(0.125rem * var(--mantine-scale)) !important;
  }
}

.linkIcon {
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
  margin-right: var(--mantine-spacing-sm);
  width: 25px;
  height: 25px;
}

.main {
  @mixin light {
    --navbar-border-color: var(--mantine-color-gray-2);
    background-color: var(--mantine-color-white);
  }

  @mixin dark {
    --navbar-border-color: var(--mantine-color-dark-7);
    background-color: var(--mantine-color-dark-8);
  }
}

.mantine-ScrollArea-viewport {
  display: flex;
}

.dark {
  @mixin dark {
    display: none;
  }
  @mixin light {
    display: block;
  }
}

.light {
  @mixin light {
    display: none;
  }
  @mixin dark {
    display: block;
  }
}
